<div class="container-fluid cont">
    <button class="btn btn-secondary" routerLink="/createCube">Go Back </button>
    <div *ngIf="isCubeCreated" id="cube" [ngStyle]="{ 'width': cubeWidth +'px', 'height': cubeHeight + 'px' }" #myDiv>
        <div class="cube-side yellow" [ngStyle]="{ 'width': cubeWidth + 'px',
             'height': cubeHeight + 'px',
            'transform': 'rotateX(90deg) translateY(' + translate + 'px) translateZ(' + Ntranslate + 'px)' }" #myDiv2>
        </div>
        <div class="cube-side green" [ngStyle]="{'width': cubeWidth + 'px', 'height': cubeHeight + 'px'}"#myDiv7>
        </div>
        <div class="cube-side red" [ngStyle]="{'width': cubeWidth + 'px', 
             'height': cubeHeight + 'px',
             'transform': 'rotateX(90deg) translateY(' + translate + 'px) translateZ(' + translate + 'px)'}" #myDiv3>
        </div>
        <div class="cube-side blue" [ngStyle]="{'width': cubeWidth + 'px',
             'height': cubeHeight + 'px',
             'transform': 'translateZ(' + cubeWidth +'px)'}" #myDiv4>
        </div >
        <div class="cube-side black" [ngStyle]="{'width': cubeWidth + 'px', 
            'height': cubeHeight + 'px',
            'transform': 'rotateY(90deg) translateZ(' + Ntranslate + 'px) translateX(' + Ntranslate + 'px)'}" #myDiv5>
        </div>
        <div class="cube-side violet" [ngStyle]="{'width': cubeWidth + 'px',
             'height': cubeHeight + 'px',
             'transform': 'rotateY(-90deg) translateZ(' + Ntranslate + 'px) translateX(' + translate + 'px)'}" #myDiv6>
        </div>
    </div>
</div>