<div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="mb-5">Displaying All Fruits and Add filter on Name, Family and Order </h1>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center w-80 m-auto mb-5">
            <div class="col">
                <label for="">Name: </label>
                <input type="text" class="ms-3 form-control-lg" [(ngModel)]="fruitName" (input)="filterByName(fruitName)">
            </div>
            <div class="col">
                <label for="">Family: </label>
                <input type="text" class="ms-3 form-control-lg" [(ngModel)]="fruitFamily" (input)="filterByFamily(fruitFamily)">
            </div>
            <div class="col">
                <label for="">Order: </label>
                <input type="text" class="ms-3 form-control-lg" [(ngModel)]="fruitOrder" (input)="filterByOrder(fruitOrder)">
            </div>
        </div>
        <div class="row justify-content-center w-80 m-auto mb-5">
            <div class="col">
                <label for="">Protein </label>
                <input type="number" class="ms-3 form-control-lg" [(ngModel)]="fruitProtein" (input)="filterByProtein(fruitProtein)">
            </div>
            <div class="col">
                <label for="">Fat: </label>
                <input type="number" class="ms-3 form-control-lg" [(ngModel)]="fruitFat" (input)="filterByFat(fruitFat)">
            </div>
            <div class="col">
                <label for="">Calories: </label>
                <input type="number" class="ms-3 form-control-lg" [(ngModel)]="fruitCalories" (input)="filterByCalories(fruitCalories)">
            </div>
        </div>
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col">Details</th>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Family</th>
            <th scope="col">Order</th>
            <th scope="col">Genus</th>
          
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fruit of filteredFruits">
            <tr>
              <td><button type="button" data-container="body" class="btn btn-secondary" data-toggle="popover"
                title="Nutritions: (Calories: {{fruit.nutritions.calories}}  Fat: {{fruit.nutritions.fat}}  Protein: {{fruit.nutritions.protein}} Sugar: {{fruit.nutritions.sugar}})" (click)="fruitDetails(fruit)">Details</button></td>
              <td>{{fruit.id}}</td>
              <td>{{fruit.name}}</td>
              <td>{{fruit.family}}</td>
              <td>{{fruit.order}}</td>
              <td>{{fruit.genus}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
    
  </div>
  