<div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="mb-5">Calories More than 100</h1>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Details</th>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Family</th>
            <th scope="col">Order</th>
            <th scope="col">Genus</th>
            <th scope="col">calories</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fruit of fruitArray">
            <tr *ngIf="fruit.nutritions.calories >= 100">
              <td><button class="btn btn-secondary">Details</button></td>
              <td>{{fruit.id}}</td>
              <td>{{fruit.name}}</td>
              <td>{{fruit.family}}</td>
              <td>{{fruit.order}}</td>
              <td>{{fruit.genus}}</td>
              <td>{{fruit.nutritions.calories}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
    
  </div>
