<div class="container-fluid px-0">
    <header>
        <nav>
            <div class="row">
                <div class="col-md-12 logo">
                    <img src="../../assets/fruits.png" alt="">
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-1 logo2 ">
                    <img src="../../assets/fruities.png" alt="" >
                </div> -->
                <div class="col-md-12">
                    <div class="row topLine ">
                        <div class="col text-end py-2  bg-dark">
                            <a routerLink="/task1" class="btn btn-secondary px-5">Task 1</a>
                            <a routerLink="/task2" class="btn btn-secondary px-5">Task 2</a>
                            <a routerLink="/task3" class="btn btn-secondary px-5">Task 3</a>
                            <a routerLink="/task4" class="btn btn-secondary px-5">Task 4</a>
                            <a routerLink="/task5" class="btn btn-secondary px-5">Task 5</a>
                            <a routerLink="/task6" class="btn btn-secondary px-5">Task 6</a>
                            <a routerLink="/task7" class="btn btn-secondary px-5">Task 7</a> 
                        </div>
                    </div>
                    <div class="row bottomLine"></div>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="container my-5">
    <!-- <router-outlet></router-outlet> -->
</div>