<div class="coutryComponent">
    <header>
        <nav>
            <div class="row justify-content-center p-0">
                <div class="col text-center mt-4">
                    <input type="text" placeholder="Enter country name" class=" form-control" [(ngModel)]="countryName">
                </div>
                <div class="col-1 mt-3">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row  p-0 justify-content-center">
            <div *ngFor="let country of countries | countryName: countryName" class=" col-md-4 text-center">
                <div class="card" [ngStyle]="{ 'background-image': 'url(' + country.flags.png + ')' }" #card>
                    <div class="design-img  .image-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-end">
                                    <h3 class="card-title">{{country.name.common}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2 btn-col text-start">
                                    <button (click)="exploreDetails(country)" class="ExploreMorebtn">Explore More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
    </div>
</div>