<div class="container">
    <div class="row justify-content-center">
        <h1 class="my-4">click the button below to toggle paragaph</h1>
        <div class="col">
            <button class="btn btn-warning text-light mb-5 mt-2"(click)="toggleParagraph(1)" [ngClass]="{ 'active': activeParagraph === 1 }">Show/Hide</button>
            <p *ngIf="activeParagraph === 1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio officia minus quam id placeat, in rem molestias, vel iste sequi aperiam nihil similique fugiat iusto sapiente dicta facere cupiditate dolorum deserunt quisquam quaerat voluptatum ratione, animi odit! Dolorem natus exercitationem aperiam excepturi, eaque tempore explicabo et, voluptatum, eligendi corporis accusamus??</p>
        </div>
        <div class="col">
            <button class="btn btn-warning text-light mb-5" (click)="toggleParagraph(2)" [ngClass]="{ 'active': activeParagraph === 2 }">Show/Hide</button>
            <p  *ngIf="activeParagraph === 2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, amet. Repellendus, debitis. Dolores modi atque eum ad magnam veritatis sunt suscipit! Rerum et, tenetur odit facere quam consequuntur nisi similique enim vitae culpa assumenda consequatur ab necessitatibus cumque illo blanditiis illum saepe beatae, commodi earum! Alias nisi labore deleniti sapiente.</p>
        </div>
    </div>
</div>
